# Eclipse files
.classpath
.project
.settings/

.metadata/

# Maven target directory
target/

slprj/

lib/

kbl/

excel/

# Ignore files with .slx extension
*.slx

*.slxc

*.kbl

*.xlsx

*.arxml

*.vec

*.m

*.asv

*.pdf

*.autosave

*.jar

*.txt




