# Eclipse files
.classpath
.project
.settings/

# Maven target directory
target/

lib/

kbl/

# Ignore files with .slx extension
*.slx

*.kbl

*.xlsx

*.arxml

*.vec

*.m

*.asv

*.pdf

*.autosave

*.jar



